name: Process push

on:
  push:
    branches:
      - master
permissions:
    contents: read

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Yarn
        run: corepack prepare yarn@stable --activate
      - name: Activate Yarn
        run: yarn set version stable
      - name: Generate SBOM
        run: yarn dlx -q @cyclonedx/yarn-plugin-cyclonedx@2.0.0 --output-file ${{ github.repository }}-${{ github.sha }}.json

      - name: Save SBOM artifact
        uses: actions/upload-artifact@v4
        with:
          name: sbom-artifact
          path: ${{ github.repository }}-${{ github.sha }}.json
